body {
    min-height: 100vh;
    position: relative;
}

::-webkit-scrollbar {
    width: 0;
}

* {
    a {
        text-decoration: none !important;
    }
}

.op-1 {
    opacity: 1 !important;
}

.navbar-dark .navbar-toggler {
    outline: none;
    border: none;
}